Repository gridcoin-community/stamp.gridcoin.club: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-grc-stamp, run-build-grc-stamp-frontend

ci: fix detection of changes
  .circleci/config.yml
Due: none

chore(release): 1.2.0
  packages/grc-stamp-frontend/CHANGELOG.md
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  9a4ac6040b56699d4fdd61365abff1902345b191
Due: none

chore: upgrade express to v5
  packages/grc-stamp/package-lock.json
  packages/grc-stamp/package.json
  packages/grc-stamp/src/api.ts
Due: run-build-grc-stamp

chore: set up libssl in docker for prisma
  packages/grc-stamp/Dockerfile
  packages/grc-stamp/prisma/schema.prisma
Due: run-build-grc-stamp

fix: fix casting bug causing the system restart
  packages/grc-stamp/src/controllers/BaseController.spec.ts
  packages/grc-stamp/src/controllers/BaseController.ts
  packages/grc-stamp/src/controllers/StampsController.ts
  packages/grc-stamp/src/routes/hashes.ts
  packages/grc-stamp/tests/integration/stamps.list.test.ts
Due: run-build-grc-stamp

fix: add headers for sse hope to defeat cloudflare
  packages/grc-stamp/src/controllers/EventsController.ts
Due: run-build-grc-stamp

feat: add linear loading progress for mobile and desktop views
  packages/grc-stamp-frontend/src/components/Header/Header.tsx
  packages/grc-stamp-frontend/src/hooks/useRouteNavigating.ts
Due: run-build-grc-stamp-frontend

feat: improve documentation, add api and actions documentation
  packages/grc-stamp-frontend/src/components/CodeBlock/CodeBlock.tsx
  packages/grc-stamp-frontend/src/components/Endpoint/Endpoint.tsx
  packages/grc-stamp-frontend/src/components/Navigation/NavMenuDesktop.tsx
  packages/grc-stamp-frontend/src/components/Navigation/NavMenuMobile.tsx
  packages/grc-stamp-frontend/src/components/Navigation/constants.ts
  packages/grc-stamp-frontend/src/components/PageContents/PageContents.tsx
  packages/grc-stamp-frontend/src/components/ScrollTopFab/ScrollTopFab.tsx
  packages/grc-stamp-frontend/src/hooks/index.ts
  packages/grc-stamp-frontend/src/hooks/useInterval.ts
  packages/grc-stamp-frontend/src/lib/useScrollSpy.ts
  packages/grc-stamp-frontend/src/pages/developers.tsx
  packages/grc-stamp-frontend/src/pages/developers/github-action.tsx
  packages/grc-stamp-frontend/src/routes/about/Chapters/About.tsx
  packages/grc-stamp-frontend/src/routes/about/Chapters/Costs.tsx
  packages/grc-stamp-frontend/src/routes/about/Chapters/Credits.tsx
  packages/grc-stamp-frontend/src/routes/about/Chapters/ProofOfExistence.tsx
  packages/grc-stamp-frontend/src/routes/about/Chapters/Protocol.tsx
  packages/grc-stamp-frontend/src/routes/about/Contents.tsx
  packages/grc-stamp-frontend/src/routes/developers/Chapters/Conventions.tsx
  packages/grc-stamp-frontend/src/routes/developers/Chapters/Disclaimer.tsx
  packages/grc-stamp-frontend/src/routes/developers/Chapters/Errors.tsx
  packages/grc-stamp-frontend/src/routes/developers/Chapters/Events.tsx
  packages/grc-stamp-frontend/src/routes/developers/Chapters/Hashes.tsx
  packages/grc-stamp-frontend/src/routes/developers/Chapters/Overview.tsx
  packages/grc-stamp-frontend/src/routes/developers/Chapters/Stamps.tsx
  packages/grc-stamp-frontend/src/routes/developers/Chapters/Status.tsx
  packages/grc-stamp-frontend/src/routes/developers/Chapters/Wallet.tsx
  packages/grc-stamp-frontend/src/routes/developers/Chapters/index.ts
  packages/grc-stamp-frontend/src/routes/developers/Contents.tsx
  packages/grc-stamp-frontend/src/routes/developers/index.tsx
  packages/grc-stamp-frontend/src/routes/github-action/Contents.tsx
  packages/grc-stamp-frontend/src/routes/github-action/index.tsx
  packages/grc-stamp-frontend/src/routes/notarize/Instructions/Instructions.tsx
  packages/grc-stamp-frontend/src/routes/notarize/Result/BlockchainData.tsx
  packages/grc-stamp-frontend/src/styles/style.css
Due: run-build-grc-stamp-frontend

fix: improve SSE handling
  packages/grc-stamp-frontend/src/components/Stamps/Recent.tsx
  packages/grc-stamp-frontend/src/lib/sseManager.ts
  packages/grc-stamp-frontend/src/pages/_app.tsx
Due: run-build-grc-stamp-frontend

feat: generate og image, add proof favicon, make hash page interactive (not 404) for in progress proofs
  packages/grc-stamp-frontend/.env
  packages/grc-stamp-frontend/.gitignore
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
  packages/grc-stamp-frontend/public/llms.txt
  packages/grc-stamp-frontend/public/sitemap.xml
  packages/grc-stamp-frontend/src/components/Seo.tsx
  packages/grc-stamp-frontend/src/components/Stamps/StampsList.tsx
  packages/grc-stamp-frontend/src/lib/identicon.ts
  packages/grc-stamp-frontend/src/pages/llms-full.txt.tsx
  packages/grc-stamp-frontend/src/pages/og/[hash].tsx
  packages/grc-stamp-frontend/src/pages/proof/[hash].tsx
  packages/grc-stamp-frontend/src/routes/proof/index.tsx
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  f4837f8ea47b47c163c490fe299af09a32c85942
Due: none

chore(release): 1.2.2
  packages/grc-stamp/CHANGELOG.md
  packages/grc-stamp/package-lock.json
  packages/grc-stamp/package.json
Due: run-build-grc-stamp

refactor: refactor documentation pages
  packages/grc-stamp-frontend/src/pages/llms-full.txt.tsx
  packages/grc-stamp-frontend/src/routes/about/Chapters/Disclaimer.tsx
  packages/grc-stamp-frontend/src/routes/about/Chapters/index.ts
  packages/grc-stamp-frontend/src/routes/about/Contents.tsx
  packages/grc-stamp-frontend/src/routes/about/index.tsx
  packages/grc-stamp-frontend/src/routes/developers/Chapters/Conventions.tsx
  packages/grc-stamp-frontend/src/routes/developers/Chapters/Disclaimer.tsx
  packages/grc-stamp-frontend/src/routes/developers/Chapters/Stamps.tsx
  packages/grc-stamp-frontend/src/routes/developers/Chapters/index.ts
  packages/grc-stamp-frontend/src/routes/developers/Contents.tsx
  packages/grc-stamp-frontend/src/routes/developers/index.tsx
Due: run-build-grc-stamp-frontend

ci: add [skip ci] for the release merges
  packages/grc-stamp-frontend/package.json
  packages/grc-stamp/package.json
Due: run-build-grc-stamp, run-build-grc-stamp-frontend

chore(release): 1.3.0
  packages/grc-stamp-frontend/CHANGELOG.md
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  0ab790405ee089a19a64e130ac9f9973a7132893
Due: none

fix: unable open drawer on mobile view
  packages/grc-stamp-frontend/src/components/Navigation/NavMenuMobile.tsx
Due: run-build-grc-stamp-frontend

chore(release): 1.3.1 [skip ci]
  packages/grc-stamp-frontend/CHANGELOG.md
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  f3d10c470af4603a5b283b589ae161fd01ad0a2d
Due: none

ci: improve logick, skip installs if cached, skip non related tests
  .circleci/config.yml
Due: none

ci: change dependencies version key
  .circleci/config.yml
Due: none

test: switch to vitest, add units for frontend
  packages/grc-stamp-frontend/.eslintrc.js
  packages/grc-stamp-frontend/jest.config.js
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
  packages/grc-stamp-frontend/src/components/Header/Header.tsx
  packages/grc-stamp-frontend/src/hooks/useInterval.ts
  packages/grc-stamp-frontend/test/entities/StampEntity.spec.ts
  packages/grc-stamp-frontend/test/lib/explorerLinks.spec.ts
  packages/grc-stamp-frontend/test/lib/mode.spec.ts
  packages/grc-stamp-frontend/test/lib/sseManager.spec.ts
  packages/grc-stamp-frontend/test/repositories/StampsRespositoy.spec.ts
  packages/grc-stamp-frontend/test/repositories/StatusRepository.spec.ts
  packages/grc-stamp-frontend/test/repositories/WalletRepository.spec.ts
  packages/grc-stamp-frontend/test/repositories/mocks.ts
  packages/grc-stamp-frontend/test/routes/notarize/actions-utils.spec.ts
  packages/grc-stamp-frontend/test/routes/notarize/actions.spec.ts
  packages/grc-stamp-frontend/test/routes/notarize/helpers.ts
  packages/grc-stamp-frontend/test/routes/notarize/reducer.spec.ts
  packages/grc-stamp-frontend/tsconfig.jest.json
  packages/grc-stamp-frontend/vitest.config.ts
Due: run-build-grc-stamp-frontend

chore: regenerate package locks
  package-lock.json
  packages/grc-stamp-frontend/package-lock.json
Due: run-build-grc-stamp-frontend

test: adjust jest config
  packages/grc-stamp/jest.config.js
  packages/grc-stamp/tsconfig.json
Due: run-build-grc-stamp

fix(grc-stamp-frontend): restore URL updates on client-side navigation
  packages/grc-stamp-frontend/src/components/Header/Header.tsx
  packages/grc-stamp-frontend/src/components/Navigation/NavMenuMobile.tsx
  packages/grc-stamp-frontend/src/components/NextMuiLink.tsx
Due: run-build-grc-stamp-frontend

perf(grc-stamp): cache wallet balance with 15s TTL and coalesce concurrent calls
  packages/grc-stamp/src/repositories/WalletRepository.spec.ts
  packages/grc-stamp/src/repositories/WalletRepository.ts
Due: run-build-grc-stamp

perf(grc-stamp): drain pending stamps per publish cycle
  packages/grc-stamp/src/services/StampService.spec.ts
  packages/grc-stamp/src/services/StampService.ts
Due: run-build-grc-stamp

fix(grc-stamp): prevent duplicate stamps from concurrent requests with same hash
  packages/grc-stamp/src/controllers/StampsController.spec.ts
  packages/grc-stamp/src/controllers/StampsController.ts
  packages/grc-stamp/src/lib/hashLock.spec.ts
  packages/grc-stamp/src/lib/hashLock.ts
Due: run-build-grc-stamp

perf(grc-stamp): account for queued stamps' burn cost in balance check
  packages/grc-stamp/src/repositories/StampsRepository.spec.ts
  packages/grc-stamp/src/repositories/StampsRepository.ts
Due: run-build-grc-stamp

feat(grc-stamp): broadcast live pending-stamp count via SSE
  packages/grc-stamp/src/lib/emitter.ts
  packages/grc-stamp/src/services/EventsService.ts
  packages/grc-stamp/src/services/Scraper.spec.ts
  packages/grc-stamp/src/services/Scraper.ts
  packages/grc-stamp/src/types.ts
Due: run-build-grc-stamp

perf(grc-stamp): index tx column to speed up pending-stamp queries
  package-lock.json
  packages/grc-stamp/prisma/schema.prisma
Due: run-build-grc-stamp

feat(grc-stamp-frontend): live pending-stamp counter on homepage
  packages/grc-stamp-frontend/src/components/Stamps/PendingCount.tsx
  packages/grc-stamp-frontend/src/components/Stamps/Recent.tsx
  packages/grc-stamp-frontend/src/types.ts
Due: run-build-grc-stamp-frontend

feat(grc-stamp-frontend): animate incoming stamps in the recent list
  packages/grc-stamp-frontend/next-env.d.ts
  packages/grc-stamp-frontend/package.json
  packages/grc-stamp-frontend/src/components/Stamps/StampsList.tsx
Due: run-build-grc-stamp-frontend

fix: add clear cache function, fix integration tests
  .gitignore
  packages/grc-stamp/src/repositories/WalletRepository.spec.ts
  packages/grc-stamp/src/repositories/WalletRepository.ts
  packages/grc-stamp/tests/integration/stamps.test.ts
  packages/grc-stamp/tests/integration/wallet.test.ts
Due: run-build-grc-stamp

chore: ts check test files
  packages/grc-stamp/.vscode/settings.json
  packages/grc-stamp/package.json
  packages/grc-stamp/src/controllers/StampsController.ts
  packages/grc-stamp/tsconfig.build.json
  packages/grc-stamp/tsconfig.jest.json
  packages/grc-stamp/tsconfig.json
Due: run-build-grc-stamp

fix: fix SSE connection issues
  packages/grc-stamp-frontend/src/lib/sseManager.ts
Due: run-build-grc-stamp-frontend

Path conditions:
  run-build-grc-stamp: any of: packages/grc-stamp/.*
  run-build-grc-stamp-frontend: any of: packages/grc-stamp-frontend/.*
