Repository gridcoin-community/stamp.gridcoin.club: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-grc-stamp, run-build-grc-stamp-frontend

Path conditions:
  run-build-grc-stamp: any of: packages/grc-stamp/.*
  run-build-grc-stamp-frontend: any of: packages/grc-stamp-frontend/.*

chore: dependencies upgrades
  package-lock.json
  package.json
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
  packages/grc-stamp-mcp/package-lock.json
  packages/grc-stamp-mcp/package.json
  packages/grc-stamp/package-lock.json
  packages/grc-stamp/package.json
Due: run-build-grc-stamp, run-build-grc-stamp-frontend

chore: update deps
  package-lock.json
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-mcp/package-lock.json
  packages/grc-stamp/package-lock.json
Due: run-build-grc-stamp, run-build-grc-stamp-frontend

fix: mcp imports resolution to ts files!
  packages/grc-stamp-mcp/src/http.ts
  packages/grc-stamp-mcp/src/index.ts
  packages/grc-stamp-mcp/src/lib/hash.spec.ts
  packages/grc-stamp-mcp/src/lib/present.spec.ts
  packages/grc-stamp-mcp/src/lib/present.ts
  packages/grc-stamp-mcp/src/lib/rateLimiter.spec.ts
  packages/grc-stamp-mcp/src/lib/stampClient.spec.ts
  packages/grc-stamp-mcp/src/lib/urls.spec.ts
  packages/grc-stamp-mcp/src/lib/urls.ts
  packages/grc-stamp-mcp/src/server.ts
  packages/grc-stamp-mcp/src/tools/checkStamp.ts
  packages/grc-stamp-mcp/src/tools/context.ts
  packages/grc-stamp-mcp/src/tools/getWalletStatus.ts
  packages/grc-stamp-mcp/src/tools/stampDocument.ts
  packages/grc-stamp-mcp/src/tools/tools.spec.ts
  packages/grc-stamp-mcp/tsconfig.json
Due: none

chore(release): 1.9.1 [skip ci]
  packages/grc-stamp-frontend/CHANGELOG.md
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  ba8e646719fb28a977d799c7fa2e0070aaf79d87
Due: none

chore(release): 1.0.1 [skip ci]
  packages/grc-stamp-mcp/CHANGELOG.md
  packages/grc-stamp-mcp/package-lock.json
  packages/grc-stamp-mcp/package.json
Due: none

Notes added by 'git notes add'
  074aad787b54dc7c915cc0610fb11b38d17c2f78
Due: none

fix: proper mcp host for the testnet
  packages/grc-stamp-frontend/src/routes/mcp/index.tsx
  packages/grc-stamp-mcp/package.json
Due: run-build-grc-stamp-frontend

chore(release): 1.9.2 [skip ci]
  packages/grc-stamp-frontend/CHANGELOG.md
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  264d1e6d39f9991e7e6fed349e41ffbcac770c39
Due: none

chore(release): 1.0.2 [skip ci]
  packages/grc-stamp-mcp/CHANGELOG.md
  packages/grc-stamp-mcp/package-lock.json
  packages/grc-stamp-mcp/package.json
Due: none

Notes added by 'git notes add'
  5d129eede52e99857405d270d5b6af4b06991763
Due: none

feat: rickroll
  packages/grc-stamp-frontend/scripts/generate-honeyfiles.mjs
  packages/grc-stamp-frontend/src/proxy.ts
Due: run-build-grc-stamp-frontend

fix: dependencies
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-mcp/package-lock.json
Due: run-build-grc-stamp-frontend

chore(release): 1.10.0 [skip ci]
  packages/grc-stamp-frontend/CHANGELOG.md
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  a67381d7893df9bc53d5e693db24d718810b8d32
Due: none

test: fix flaky test
  packages/grc-stamp/src/lib/rateLimit.spec.ts
Due: run-build-grc-stamp

chore(release): 1.0.3 [skip ci]
  packages/grc-stamp-mcp/CHANGELOG.md
  packages/grc-stamp-mcp/package-lock.json
  packages/grc-stamp-mcp/package.json
Due: none

Notes added by 'git notes add'
  81a9ff614b0bce973bb6a817baef99889992ae2c
Due: none

fix: proper rickroll
  packages/grc-stamp-frontend/src/proxy.ts
Due: run-build-grc-stamp-frontend

chore(release): 1.10.1 [skip ci]
  packages/grc-stamp-frontend/CHANGELOG.md
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  7ac7148240855250c7b7e984124f8b39cc3ced4c
Due: none

refactor: jest to vitest
  package-lock.json
  package.json
  packages/grc-stamp-frontend/next-env.d.ts
  packages/grc-stamp/jest.config.js
  packages/grc-stamp/jest.integration.config.js
  packages/grc-stamp/package-lock.json
  packages/grc-stamp/package.json
  packages/grc-stamp/src/controllers/BaseController.spec.ts
  packages/grc-stamp/src/controllers/HashController.spec.ts
  packages/grc-stamp/src/controllers/StampsController.spec.ts
  packages/grc-stamp/src/controllers/StatusController.spec.ts
  packages/grc-stamp/src/controllers/WalletController.spec.ts
  packages/grc-stamp/src/controllers/schemas/StampSchema.spec.ts
  packages/grc-stamp/src/lib/hashLock.spec.ts
  packages/grc-stamp/src/lib/rateLimit.spec.ts
  packages/grc-stamp/src/models/ErrorModel.spec.ts
  packages/grc-stamp/src/models/Stamp.spec.ts
  packages/grc-stamp/src/models/Wallet.spec.ts
  packages/grc-stamp/src/repositories/StampsRepository.spec.ts
  packages/grc-stamp/src/repositories/WalletRepository.spec.ts
  packages/grc-stamp/src/services/Scraper.spec.ts
  packages/grc-stamp/src/services/StampService.spec.ts
  packages/grc-stamp/tests/globalSetup.ts
  packages/grc-stamp/tests/integration/hash.test.ts
  packages/grc-stamp/tests/integration/stamps.list.test.ts
  packages/grc-stamp/tests/integration/stamps.test.ts
  packages/grc-stamp/tests/integration/wallet.test.ts
  packages/grc-stamp/tests/setEnv.ts
  packages/grc-stamp/tsconfig.jest.json
  packages/grc-stamp/tsconfig.json
  packages/grc-stamp/vitest.config.mts
  packages/grc-stamp/vitest.integration.config.mts
Due: run-build-grc-stamp, run-build-grc-stamp-frontend

fix: do not hardcode the explorer paths
  packages/grc-stamp-frontend/.env
Due: run-build-grc-stamp-frontend

chore(release): 1.10.2 [skip ci]
  packages/grc-stamp-frontend/CHANGELOG.md
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  0da3377ca77002ed1c036e3feb192a10b87c39fb
Due: none

fix: back to hardcoded values due to the build issues
  packages/grc-stamp-frontend/.env
Due: run-build-grc-stamp-frontend

chore(release): 1.10.3 [skip ci]
  packages/grc-stamp-frontend/CHANGELOG.md
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  92806dbef94f8839d8733ec1c819144388d638d0
Due: none

fix: update logo to make it more distinctive
  packages/grc-stamp-frontend/public/favicon.ico
  packages/grc-stamp-frontend/public/ic-favicon-mainnet.svg
  packages/grc-stamp-frontend/public/ic-favicon-testnet.svg
  packages/grc-stamp-frontend/public/ic-logo-desktop-mainnet.svg
  packages/grc-stamp-frontend/public/ic-logo-desktop-testnet.svg
  packages/grc-stamp-frontend/public/ic-logo-mobile-mainnet.svg
  packages/grc-stamp-frontend/public/ic-logo-mobile-testnet.svg
  packages/grc-stamp-frontend/src/components/Header/Header.tsx
  packages/grc-stamp-frontend/src/components/Logo/Logo.tsx
  packages/grc-stamp-frontend/src/components/Logo/index.ts
  packages/grc-stamp-frontend/src/components/Navigation/Mode.tsx
  packages/grc-stamp-frontend/src/components/Navigation/NavMenuMobile.tsx
Due: run-build-grc-stamp-frontend

chore(release): 1.10.4 [skip ci]
  packages/grc-stamp-frontend/CHANGELOG.md
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  bd469c2c8bb9f098e242072fc16f0a2bdb4d059b
Due: none

fix: drop testnet links from mainnet stamp + bump next, axios, yayson 4
  packages/grc-stamp-frontend/.env
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
  packages/grc-stamp-frontend/src/repositories/StatusRepository.ts
  packages/grc-stamp-frontend/src/routes/mcp/index.tsx
  packages/grc-stamp-frontend/test/repositories/mocks.ts
  packages/grc-stamp-mcp/package-lock.json
  packages/grc-stamp/package-lock.json
  packages/grc-stamp/package.json
  packages/grc-stamp/src/controllers/BaseController.ts
  packages/grc-stamp/src/controllers/StampsController.ts
  packages/grc-stamp/src/presenters/balance.presenter.ts
  packages/grc-stamp/src/presenters/types.ts
Due: run-build-grc-stamp, run-build-grc-stamp-frontend

chore(release): 1.10.5 [skip ci]
  packages/grc-stamp-frontend/CHANGELOG.md
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  b36e032706f31c37ae524190a68625b59b2beba3
Due: none

chore(release): 1.5.1 [skip ci]
  packages/grc-stamp/CHANGELOG.md
  packages/grc-stamp/package-lock.json
  packages/grc-stamp/package.json
Due: run-build-grc-stamp

Notes added by 'git notes add'
  c53bfa7c18bb78067de3102ebaeee3750e096a5a
Due: none

chore(release): 1.0.4 [skip ci]
  packages/grc-stamp-mcp/CHANGELOG.md
  packages/grc-stamp-mcp/package-lock.json
  packages/grc-stamp-mcp/package.json
Due: none

Notes added by 'git notes add'
  dc48e1ef356cb5308cb4d9c5bd89d57f9c04fd6b
Due: none

fix: fix the broken healthcheck
  packages/grc-stamp-frontend/next-env.d.ts
  packages/grc-stamp/Dockerfile
  packages/grc-stamp/Dockerfile.prod
Due: run-build-grc-stamp, run-build-grc-stamp-frontend
