Repository gridcoin-community/stamp.gridcoin.club: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-grc-stamp, run-build-grc-stamp-frontend

Path conditions:
  run-build-grc-stamp: any of: packages/grc-stamp/.*
  run-build-grc-stamp-frontend: any of: packages/grc-stamp-frontend/.*

fix: fix stale pending message
  packages/grc-stamp/src/services/EventsService.ts
  packages/grc-stamp/src/services/Scraper.ts
Due: run-build-grc-stamp

chore(release): 1.4.0 [skip ci]
  packages/grc-stamp-frontend/CHANGELOG.md
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  cfb6b2fa418f75aad36501291087ce66dbcd5128
Due: none

fix: make backend release wait for frontend
  .circleci/config.yml
Due: none

chore(release): 1.3.0 [skip ci]
  packages/grc-stamp/CHANGELOG.md
  packages/grc-stamp/package-lock.json
  packages/grc-stamp/package.json
Due: run-build-grc-stamp

Notes added by 'git notes add'
  33cf4fc3eec3e8e9fe17a32dd49941d5581a8abe
Due: none

feat: add downloadable PDF with a proof of existance
  packages/grc-stamp-frontend/next-env.d.ts
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
  packages/grc-stamp-frontend/src/components/Certificate/Certificate.tsx
  packages/grc-stamp-frontend/src/components/Seo.tsx
  packages/grc-stamp-frontend/src/lib/httpCache.ts
  packages/grc-stamp-frontend/src/lib/serverImage.ts
  packages/grc-stamp-frontend/src/pages/llms-full.txt.tsx
  packages/grc-stamp-frontend/src/pages/og/[hash].tsx
  packages/grc-stamp-frontend/src/pages/proof/[hash]/certificate.pdf.tsx
  packages/grc-stamp-frontend/src/routes/proof/index.tsx
Due: run-build-grc-stamp-frontend

chore: update lock file
  package-lock.json
Due: none

chore: update lock file for the frontend
  packages/grc-stamp-frontend/package-lock.json
Due: run-build-grc-stamp-frontend

chore: update lockfiles
  packages/grc-stamp-frontend/package-lock.json
Due: run-build-grc-stamp-frontend

chore: upgrade the lockfile
  packages/grc-stamp-frontend/package-lock.json
Due: run-build-grc-stamp-frontend

chore(release): 1.5.0 [skip ci]
  packages/grc-stamp-frontend/CHANGELOG.md
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  0a99669d08681c6439dd8db66dec025134f34b32
Due: none

chore: desable next telemetry
  packages/grc-stamp-frontend/.env
Due: run-build-grc-stamp-frontend

feat: add link to the hub
  packages/grc-stamp-frontend/next-env.d.ts
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/src/components/Footer/Footer.tsx
Due: run-build-grc-stamp-frontend

feat: align dark mode with the hub website
  packages/grc-stamp-frontend/src/lib/mode.ts
Due: run-build-grc-stamp-frontend

fix: improve content
  packages/grc-stamp-frontend/src/components/Certificate/Certificate.tsx
  packages/grc-stamp-frontend/src/routes/about/Chapters/About.tsx
  packages/grc-stamp-frontend/src/routes/about/Chapters/Costs.tsx
  packages/grc-stamp-frontend/src/routes/about/Chapters/Disclaimer.tsx
  packages/grc-stamp-frontend/src/routes/about/Chapters/ProofOfExistence.tsx
  packages/grc-stamp-frontend/src/routes/about/Chapters/Protocol.tsx
  packages/grc-stamp-frontend/src/routes/about/index.tsx
  packages/grc-stamp-frontend/src/routes/developers/Chapters/Conventions.tsx
  packages/grc-stamp-frontend/src/routes/developers/Chapters/Errors.tsx
  packages/grc-stamp-frontend/src/routes/developers/Chapters/Hashes.tsx
  packages/grc-stamp-frontend/src/routes/developers/Chapters/Overview.tsx
  packages/grc-stamp-frontend/src/routes/developers/Chapters/Stamps.tsx
  packages/grc-stamp-frontend/src/routes/developers/Chapters/Status.tsx
  packages/grc-stamp-frontend/src/routes/developers/Chapters/Wallet.tsx
  packages/grc-stamp-frontend/src/routes/developers/index.tsx
  packages/grc-stamp-frontend/src/routes/github-action/index.tsx
  packages/grc-stamp-frontend/src/routes/notarize/Instructions/Instructions.tsx
  packages/grc-stamp-frontend/src/routes/notarize/index.tsx
  packages/grc-stamp-frontend/src/routes/proof/index.tsx
Due: run-build-grc-stamp-frontend

fix: fix the title
  packages/grc-stamp-frontend/src/routes/github-action/index.tsx
Due: run-build-grc-stamp-frontend

tests: align tests with the recent dark theme updates
  packages/grc-stamp-frontend/test/lib/mode.spec.ts
Due: run-build-grc-stamp-frontend

chore(release): 1.6.0 [skip ci]
  packages/grc-stamp-frontend/CHANGELOG.md
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  8442cf104e72c1007ba8cb221f5c035510f75b75
Due: none

fix: clean up legacy theme cookie
  packages/grc-stamp-frontend/src/lib/mode.ts
  packages/grc-stamp-frontend/src/pages/_app.tsx
Due: run-build-grc-stamp-frontend

chore(release): 1.6.1 [skip ci]
  packages/grc-stamp-frontend/CHANGELOG.md
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  bf3467dbd5c735677335d493007472a46cd7dfa3
Due: none

feat: introduce network awareness
  .circleci/config.yml
  .npmrc
  packages/grc-stamp-frontend/.env
  packages/grc-stamp-frontend/.env.testnet
  packages/grc-stamp-frontend/.npmrc
  packages/grc-stamp-frontend/Dockerfile
  packages/grc-stamp-frontend/public/llms.txt
  packages/grc-stamp-frontend/public/robots.txt
  packages/grc-stamp-frontend/src/components/Footer/Footer.tsx
  packages/grc-stamp-frontend/src/components/Header/Header.tsx
  packages/grc-stamp-frontend/src/lib/network.ts
  packages/grc-stamp-frontend/src/pages/_app.tsx
  packages/grc-stamp-frontend/src/pages/llms-full.txt.tsx
  packages/grc-stamp-frontend/src/pages/llms.txt.tsx
  packages/grc-stamp-frontend/src/pages/robots.txt.tsx
  packages/grc-stamp-frontend/src/theme.ts
  packages/grc-stamp/.npmrc
  packages/grc-stamp/package.json
  packages/grc-stamp/src/config.ts
  packages/grc-stamp/src/constants.ts
  packages/grc-stamp/src/services/Scraper.spec.ts
  packages/grc-stamp/tests/setEnv.ts
  packages/workers/maintenance-page/.npmrc
Due: run-build-grc-stamp, run-build-grc-stamp-frontend

feat: retire cloudflare maintenance pages
  packages/grc-stamp/_.maintenance
  packages/maintenance/fonts/SFUIText/SFUIText-Bold.woff
  packages/maintenance/fonts/SFUIText/SFUIText-BoldItalic.woff
  packages/maintenance/fonts/SFUIText/SFUIText-Heavy.woff
  packages/maintenance/fonts/SFUIText/SFUIText-HeavyItalic.woff
  packages/maintenance/fonts/SFUIText/SFUIText-Light.woff
  packages/maintenance/fonts/SFUIText/SFUIText-LightItalic.woff
  packages/maintenance/fonts/SFUIText/SFUIText-Medium.woff
  packages/maintenance/fonts/SFUIText/SFUIText-MediumItalic.woff
  packages/maintenance/fonts/SFUIText/SFUIText-Regular.woff
  packages/maintenance/fonts/SFUIText/SFUIText-RegularItalic.woff
  packages/maintenance/fonts/SFUIText/SFUIText-Semibold.woff
  packages/maintenance/fonts/SFUIText/SFUIText-SemiboldItalic.woff
  packages/maintenance/index.html
  packages/workers/maintenance-page/.editorconfig
  packages/workers/maintenance-page/.eslintignore
  packages/workers/maintenance-page/.eslintrc.js
  packages/workers/maintenance-page/.gitignore
  packages/workers/maintenance-page/.npmrc
  packages/workers/maintenance-page/.nvmrc
  packages/workers/maintenance-page/.prettierrc
  packages/workers/maintenance-page/package-lock.json
  packages/workers/maintenance-page/package.json
  packages/workers/maintenance-page/project.json
  packages/workers/maintenance-page/src/index.ts
  packages/workers/maintenance-page/test/index.spec.ts
  packages/workers/maintenance-page/test/tsconfig.json
  packages/workers/maintenance-page/tsconfig.json
  packages/workers/maintenance-page/vitest.config.ts
  packages/workers/maintenance-page/worker-configuration.d.ts
  packages/workers/maintenance-page/wrangler.toml
Due: run-build-grc-stamp

chore: upgrade dependencies
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp/package-lock.json
  packages/grc-stamp/package.json
Due: run-build-grc-stamp, run-build-grc-stamp-frontend

fix: respect reverse proxy!
  packages/grc-stamp/src/api.ts
Due: run-build-grc-stamp

feat: introduce naive rate limits
  packages/grc-stamp/src/config.ts
  packages/grc-stamp/src/controllers/EventsController.ts
  packages/grc-stamp/src/lib/rateLimit.spec.ts
  packages/grc-stamp/src/lib/rateLimit.ts
  packages/grc-stamp/src/routes/stamps.ts
  packages/grc-stamp/src/services/EventsService.ts
Due: run-build-grc-stamp

feat: scraper now fully respects protocol, not letting dirty ones through
  packages/grc-stamp/src/services/Scraper.spec.ts
  packages/grc-stamp/src/services/Scraper.ts
Due: run-build-grc-stamp

fix: prevent double burning fees
  packages/grc-stamp/src/services/StampService.spec.ts
  packages/grc-stamp/src/services/StampService.ts
Due: run-build-grc-stamp

fix: do not leak server side error to the frontend
  packages/grc-stamp-frontend/src/lib/ssrError.ts
  packages/grc-stamp-frontend/src/pages/og/[hash].tsx
  packages/grc-stamp-frontend/src/pages/proof/[hash]/certificate.pdf.tsx
Due: run-build-grc-stamp-frontend

chore: add security headers
  packages/grc-stamp-frontend/next.config.js
Due: run-build-grc-stamp-frontend

fix: get rid of nasty javascript voids for empty links
  packages/grc-stamp-frontend/src/lib/explorerLinks.ts
Due: run-build-grc-stamp-frontend

tests: add tests for explorer links
  packages/grc-stamp-frontend/test/lib/explorerLinks.spec.ts
Due: run-build-grc-stamp-frontend

fix: prevent query url and hash injections to the server side (mostly annoying than dangerous)
  packages/grc-stamp-frontend/src/repositories/StampsRepository.ts
Due: run-build-grc-stamp-frontend

chore: commit locks too u dummy
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp/package-lock.json
Due: run-build-grc-stamp, run-build-grc-stamp-frontend

feat: backfill banner, out of funds banner, network awareness design
  packages/grc-stamp-frontend/next.config.js
  packages/grc-stamp-frontend/public/ic-favicon-mainnet.svg
  packages/grc-stamp-frontend/public/ic-favicon-testnet.svg
  packages/grc-stamp-frontend/public/ic-logo-desktop-mainnet.svg
  packages/grc-stamp-frontend/public/ic-logo-desktop-testnet.svg
  packages/grc-stamp-frontend/public/ic-logo-desktop.svg
  packages/grc-stamp-frontend/public/ic-logo-mobile-mainnet.svg
  packages/grc-stamp-frontend/public/ic-logo-mobile-testnet.svg
  packages/grc-stamp-frontend/public/ic-logo-mobile.svg
  packages/grc-stamp-frontend/src/components/BackfillBanner/BackfillBanner.tsx
  packages/grc-stamp-frontend/src/components/Certificate/Certificate.tsx
  packages/grc-stamp-frontend/src/components/Footer/Balance.tsx
  packages/grc-stamp-frontend/src/components/Header/Header.tsx
  packages/grc-stamp-frontend/src/components/Logo/Logo.tsx
  packages/grc-stamp-frontend/src/components/Logo/index.ts
  packages/grc-stamp-frontend/src/components/LowFundsBanner/LowFundsBanner.tsx
  packages/grc-stamp-frontend/src/components/LowFundsBanner/index.ts
  packages/grc-stamp-frontend/src/components/Navigation/NavMenuMobile.tsx
  packages/grc-stamp-frontend/src/components/Seo.tsx
  packages/grc-stamp-frontend/src/entities/WalletEntity.ts
  packages/grc-stamp-frontend/src/lib/indexerStatusContext.tsx
  packages/grc-stamp-frontend/src/lib/modeDataServer.ts
  packages/grc-stamp-frontend/src/lib/walletContext.tsx
  packages/grc-stamp-frontend/src/pages/_app.tsx
  packages/grc-stamp-frontend/src/pages/og/[hash].tsx
  packages/grc-stamp-frontend/src/pages/proof/[hash]/certificate.pdf.tsx
  packages/grc-stamp-frontend/src/repositories/IndexerStatusRepository.ts
  packages/grc-stamp-frontend/src/routes/notarize/Result/Result.tsx
  packages/grc-stamp-frontend/src/routes/notarize/Upload/Upload.tsx
  packages/grc-stamp-frontend/src/types.ts
Due: run-build-grc-stamp-frontend

feat: backfill, calculate the proper cost, improve sse, a lot of bugfixes
  packages/grc-stamp/src/api.ts
  packages/grc-stamp/src/config.ts
  packages/grc-stamp/src/constants.ts
  packages/grc-stamp/src/controllers/BaseController.ts
  packages/grc-stamp/src/controllers/EventsController.ts
  packages/grc-stamp/src/controllers/IndexerStatusController.ts
  packages/grc-stamp/src/controllers/StampsController.ts
  packages/grc-stamp/src/controllers/StatusController.ts
  packages/grc-stamp/src/index.ts
  packages/grc-stamp/src/lib/emitter.ts
  packages/grc-stamp/src/lib/walletPricing.ts
  packages/grc-stamp/src/models/Stamp.ts
  packages/grc-stamp/src/models/Wallet.spec.ts
  packages/grc-stamp/src/models/Wallet.ts
  packages/grc-stamp/src/presenters/indexerStatus.presenter.ts
  packages/grc-stamp/src/presenters/types.ts
  packages/grc-stamp/src/presenters/wallet.presenter.ts
  packages/grc-stamp/src/routes/indexer.ts
  packages/grc-stamp/src/services/EventsService.ts
  packages/grc-stamp/src/services/Scraper.spec.ts
  packages/grc-stamp/src/services/Scraper.ts
  packages/grc-stamp/src/services/WalletService.ts
  packages/grc-stamp/src/types.ts
  packages/grc-stamp/tests/integration/wallet.test.ts
  packages/grc-stamp/tsconfig.json
Due: run-build-grc-stamp
