Repository gridcoin-community/stamp.gridcoin.club: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-grc-stamp, run-build-grc-stamp-frontend

fix: technical update to nextjs 14 and mui 7
  packages/grc-stamp-frontend/src/routes/notarize/Result/Progress.tsx
Due: run-build-grc-stamp-frontend

chore(release): 1.0.2
  packages/grc-stamp-frontend/CHANGELOG.md
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  893e2c0b43471085e667c379cf9e80f04b7da868
Due: none

fix: technical update nextjs to 15
  packages/grc-stamp-frontend/next-env.d.ts
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

fix: technical update react and fix warnings
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
  packages/grc-stamp-frontend/src/components/Navigation/NavMenuDesktop.tsx
  packages/grc-stamp-frontend/src/components/NextMuiLink.tsx
  packages/grc-stamp-frontend/src/pages/_document.tsx
  packages/grc-stamp-frontend/src/routes/notarize/Instructions/Instructions.tsx
Due: run-build-grc-stamp-frontend

chore(release): 1.0.3
  packages/grc-stamp-frontend/CHANGELOG.md
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  de6e4ff98a3ceb425725db6e6885a60db2052859
Due: none

feat: introduce SSE
  packages/grc-stamp/src/api.ts
  packages/grc-stamp/src/config.ts
  packages/grc-stamp/src/controllers/EventsController.ts
  packages/grc-stamp/src/controllers/WalletController.ts
  packages/grc-stamp/src/index.ts
  packages/grc-stamp/src/lib/emitter.ts
  packages/grc-stamp/src/lib/log.ts
  packages/grc-stamp/src/models/Wallet.ts
  packages/grc-stamp/src/presenters/wallet.presenter.ts
  packages/grc-stamp/src/routes/events.ts
  packages/grc-stamp/src/services/EventsService.ts
  packages/grc-stamp/src/services/Scraper.ts
  packages/grc-stamp/src/services/StampService.ts
  packages/grc-stamp/src/services/WalletService.ts
  packages/grc-stamp/src/types.ts
Due: run-build-grc-stamp

test: fix broiken tests
  packages/grc-stamp/.eslintrc.js
  packages/grc-stamp/docker-compose.yml
  packages/grc-stamp/src/controllers/WalletController.spec.ts
  packages/grc-stamp/src/services/Scraper.spec.ts
  packages/grc-stamp/src/services/StampService.spec.ts
  packages/grc-stamp/tests/integration/wallet.test.ts
  packages/grc-stamp/tsconfig.json
Due: run-build-grc-stamp

Notes added by 'git notes add'
  ff7c7429f4849beb7ca8ae6688395ae41e05ef51
Due: none

chore(release): 1.2.0
  packages/grc-stamp/CHANGELOG.md
  packages/grc-stamp/package-lock.json
  packages/grc-stamp/package.json
Due: run-build-grc-stamp

feat: introduce SSE
  packages/grc-stamp-frontend/src/components/Footer/Balance.tsx
  packages/grc-stamp-frontend/src/components/Stamps/Recent.tsx
  packages/grc-stamp-frontend/src/entities/WalletEntity.ts
  packages/grc-stamp-frontend/src/hooks/index.ts
  packages/grc-stamp-frontend/src/hooks/useSSEEvent.ts
  packages/grc-stamp-frontend/src/lib/sseManager.ts
  packages/grc-stamp-frontend/src/pages/_app.tsx
  packages/grc-stamp-frontend/src/repositories/StampsRepository.ts
  packages/grc-stamp-frontend/src/routes/notarize/Result/BlockchainData.tsx
  packages/grc-stamp-frontend/src/routes/notarize/Result/Result.tsx
  packages/grc-stamp-frontend/src/routes/notarize/index.tsx
  packages/grc-stamp-frontend/src/types.ts
Due: run-build-grc-stamp-frontend

chore: address the lint issue
  packages/grc-stamp-frontend/src/hooks/useSSEEvent.ts
Due: run-build-grc-stamp-frontend

chore(release): 1.1.0
  packages/grc-stamp-frontend/CHANGELOG.md
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  60932bf75d28867691baf3fd8ab1f0545c9f4749
Due: none

fix: add debug info
  packages/grc-stamp-frontend/src/lib/sseManager.ts
  packages/grc-stamp-frontend/src/pages/_app.tsx
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  e921691d5da3f13791a83997683b3775677ee919
Due: none

chore(release): 1.1.1
  packages/grc-stamp-frontend/CHANGELOG.md
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

fix: send keep alive to all clients
  packages/grc-stamp/src/controllers/EventsController.ts
  packages/grc-stamp/src/services/EventsService.ts
  packages/grc-stamp/tsconfig.json
Due: run-build-grc-stamp

Notes added by 'git notes add'
  68fed34007676a5152ffbb251310f8d2966796b0
Due: none

chore(release): 1.2.1
  packages/grc-stamp/CHANGELOG.md
  packages/grc-stamp/package-lock.json
  packages/grc-stamp/package.json
Due: run-build-grc-stamp

fix: reduce intervals to 30 seconds in case if dumb client apps won't be able to process sse
  packages/grc-stamp-frontend/src/routes/notarize/Result/BlockchainData.tsx
Due: run-build-grc-stamp-frontend

fix: timeout to 30 seconds for dumb client apps with no sse
  packages/grc-stamp-frontend/src/routes/notarize/Result/BlockchainData.tsx
Due: run-build-grc-stamp-frontend

chore(release): 1.1.2
  packages/grc-stamp-frontend/CHANGELOG.md
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  f4229d2262acbadf848c20bf2150e2419ebc8191
Due: none

fix: apply nextjs patch
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

fix: make the project server side again
  package-lock.json
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
  packages/grc-stamp-frontend/src/components/Navigation/Mode.tsx
  packages/grc-stamp-frontend/src/context.ts
  packages/grc-stamp-frontend/src/lib/mode.ts
  packages/grc-stamp-frontend/src/lib/modeDataServer.ts
  packages/grc-stamp-frontend/src/pages/404.tsx
  packages/grc-stamp-frontend/src/pages/_app.tsx
  packages/grc-stamp-frontend/src/pages/_document.tsx
  packages/grc-stamp-frontend/src/pages/about.tsx
  packages/grc-stamp-frontend/src/pages/index.tsx
  packages/grc-stamp-frontend/src/pages/proof/[hash].tsx
Due: run-build-grc-stamp-frontend

chore: add meta description
  packages/grc-stamp-frontend/src/routes/about/index.tsx
  packages/grc-stamp-frontend/src/routes/notarize/index.tsx
  packages/grc-stamp-frontend/src/routes/proof/index.tsx
Due: run-build-grc-stamp-frontend

chore: address eslint issues
  packages/grc-stamp-frontend/src/pages/_app.tsx
  packages/grc-stamp-frontend/src/pages/_document.tsx
Due: run-build-grc-stamp-frontend

chore(release): 1.1.3
  packages/grc-stamp-frontend/CHANGELOG.md
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  21c0e49b275c601c37c6c5ced4bec8b3bcd42a27
Due: none

doc: update readme file
  README.md
Due: none

ci: utilize more nx, stop using orb
  .circleci/config.yml
  .circleci/continue_config.yml
  nx.json
Due: none

chore: regenerate root package-lock
  package-lock.json
  package.json
Due: none

chore: regenerate package lock file
  package-lock.json
Due: none

ci: deeper fetch
  .circleci/config.yml
Due: none

docs: update readme
  README.md
Due: none

feat: some seo related improvements for the frontend part
  packages/grc-stamp-frontend/README.md
  packages/grc-stamp-frontend/next.config.js
  packages/grc-stamp-frontend/public/llms.txt
  packages/grc-stamp-frontend/public/robots.txt
  packages/grc-stamp-frontend/public/sitemap.xml
  packages/grc-stamp-frontend/src/components/Header/Header.tsx
  packages/grc-stamp-frontend/src/components/PageWrapper.tsx
  packages/grc-stamp-frontend/src/components/Seo.tsx
  packages/grc-stamp-frontend/src/pages/_app.tsx
  packages/grc-stamp-frontend/src/pages/_document.tsx
  packages/grc-stamp-frontend/src/pages/llms-full.txt.tsx
  packages/grc-stamp-frontend/src/pages/proof/[hash].tsx
  packages/grc-stamp-frontend/src/routes/about/Chapters/About.tsx
  packages/grc-stamp-frontend/src/routes/about/Chapters/Costs.tsx
  packages/grc-stamp-frontend/src/routes/about/Chapters/Credits.tsx
  packages/grc-stamp-frontend/src/routes/about/Chapters/ProofOfExistence.tsx
  packages/grc-stamp-frontend/src/routes/about/Chapters/Protocol.tsx
  packages/grc-stamp-frontend/src/routes/about/index.tsx
  packages/grc-stamp-frontend/src/routes/maintenance/index.tsx
  packages/grc-stamp-frontend/src/routes/not-found/index.tsx
  packages/grc-stamp-frontend/src/routes/notarize/index.tsx
  packages/grc-stamp-frontend/src/routes/proof/index.tsx
  packages/grc-stamp-frontend/src/styles/style.css
Due: run-build-grc-stamp-frontend

feat: aadd og_image
  packages/grc-stamp-frontend/public/og-image.png
  packages/grc-stamp-frontend/src/components/Seo.tsx
Due: run-build-grc-stamp-frontend

ci: use stamp release action
  .github/workflows/stamp-release.yml
Due: none

Path conditions:
  run-build-grc-stamp: any of: packages/grc-stamp/.*
  run-build-grc-stamp-frontend: any of: packages/grc-stamp-frontend/.*
