Repository gridcoin-community/stamp.gridcoin.club: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-grc-stamp, run-build-grc-stamp-frontend

Path conditions:
  run-build-grc-stamp: any of: packages/grc-stamp/.*
  run-build-grc-stamp-frontend: any of: packages/grc-stamp-frontend/.*

feat: add reset script
  packages/grc-stamp/package-lock.json
  packages/grc-stamp/package.json
  packages/grc-stamp/src/cli/reset.ts
Due: run-build-grc-stamp

feat: update the api documentation
  packages/grc-stamp-frontend/src/pages/llms-full.txt.tsx
  packages/grc-stamp-frontend/src/routes/developers/Chapters/Errors.tsx
  packages/grc-stamp-frontend/src/routes/developers/Chapters/Stamps.tsx
  packages/grc-stamp-frontend/src/routes/developers/Chapters/Wallet.tsx
Due: run-build-grc-stamp-frontend

ci: swap mysql for mariadb
  .circleci/config.yml
Due: none

fix: truncate does reset autoincrement, delete doesn't
  packages/grc-stamp/tests/integration/helpers.ts
Due: run-build-grc-stamp

fix: scalar operator - array, it shall not crash
  packages/grc-stamp/src/repositories/StampsRepository.ts
  packages/grc-stamp/tests/integration/stamps.list.test.ts
Due: run-build-grc-stamp

chore(release): 1.7.0 [skip ci]
  packages/grc-stamp-frontend/CHANGELOG.md
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  74050bcc6d9e315da87b01fda5444e61f0d2e74a
Due: none

chore(release): 1.4.0 [skip ci]
  packages/grc-stamp/CHANGELOG.md
  packages/grc-stamp/package-lock.json
  packages/grc-stamp/package.json
Due: run-build-grc-stamp

Notes added by 'git notes add'
  ca5d243ec182ff023c3a07e51b673426cd1dfef1
Due: none

fix: add proper address for the testnet
  packages/grc-stamp-frontend/.env.testnet
Due: run-build-grc-stamp-frontend

chore(release): 1.7.1 [skip ci]
  packages/grc-stamp-frontend/CHANGELOG.md
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  9ebe4a4590a497de1ac6b98bf54dfbb2ea6e2322
Due: none

fix: re-enable plausible
  packages/grc-stamp-frontend/.env.testnet
Due: run-build-grc-stamp-frontend

fix: use proper domain for the api documentation
  packages/grc-stamp-frontend/src/routes/developers/Chapters/Conventions.tsx
  packages/grc-stamp-frontend/src/routes/developers/Chapters/Errors.tsx
  packages/grc-stamp-frontend/src/routes/developers/Chapters/Events.tsx
  packages/grc-stamp-frontend/src/routes/developers/Chapters/Hashes.tsx
  packages/grc-stamp-frontend/src/routes/developers/Chapters/Overview.tsx
  packages/grc-stamp-frontend/src/routes/developers/Chapters/Stamps.tsx
  packages/grc-stamp-frontend/src/routes/developers/Chapters/Status.tsx
  packages/grc-stamp-frontend/src/routes/developers/Chapters/Wallet.tsx
Due: run-build-grc-stamp-frontend

chore(release): 1.7.2 [skip ci]
  packages/grc-stamp-frontend/CHANGELOG.md
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  c81317a0b7568e02608f8f36862eb6d5bcbfe111
Due: none

fix: add testnet to the header for the testnet
  packages/grc-stamp-frontend/src/components/Seo.tsx
Due: run-build-grc-stamp-frontend

feat: add tems and conditions
  packages/grc-stamp-frontend/src/components/Footer/Footer.tsx
  packages/grc-stamp-frontend/src/components/ObfuscatedEmail.tsx
  packages/grc-stamp-frontend/src/routes/terms/Chapters/AcceptableUse.tsx
  packages/grc-stamp-frontend/src/routes/terms/Chapters/Acceptance.tsx
  packages/grc-stamp-frontend/src/routes/terms/Chapters/Disclaimer.tsx
  packages/grc-stamp-frontend/src/routes/terms/Chapters/General.tsx
  packages/grc-stamp-frontend/src/routes/terms/Chapters/Liability.tsx
  packages/grc-stamp-frontend/src/routes/terms/Chapters/OpenSource.tsx
  packages/grc-stamp-frontend/src/routes/terms/Chapters/Privacy.tsx
  packages/grc-stamp-frontend/src/routes/terms/Chapters/Service.tsx
  packages/grc-stamp-frontend/src/routes/terms/Chapters/WhatItProves.tsx
  packages/grc-stamp-frontend/src/routes/terms/Chapters/index.ts
  packages/grc-stamp-frontend/src/routes/terms/Contents.tsx
  packages/grc-stamp-frontend/src/routes/terms/index.tsx
Due: run-build-grc-stamp-frontend

fix: no ssr rendering
  packages/grc-stamp-frontend/src/components/Navigation/NavMenuDesktop.tsx
Due: run-build-grc-stamp-frontend

ferat: tems page
  packages/grc-stamp-frontend/src/pages/terms.tsx
Due: run-build-grc-stamp-frontend

fix: fix headers sequence
  packages/grc-stamp-frontend/src/components/Stamps/Recent.tsx
Due: run-build-grc-stamp-frontend

chore: remove disclaimer
  packages/grc-stamp-frontend/src/routes/about/Contents.tsx
Due: run-build-grc-stamp-frontend

chore: remove disclaimer
  packages/grc-stamp-frontend/src/routes/about/index.tsx
Due: run-build-grc-stamp-frontend

chore: remove disclaimer
  packages/grc-stamp-frontend/src/routes/about/Chapters/Disclaimer.tsx
Due: run-build-grc-stamp-frontend

feat: add short how to and faq to the home page
  packages/grc-stamp-frontend/src/lib/sseManager.ts
  packages/grc-stamp-frontend/src/routes/about/Chapters/Protocol.tsx
  packages/grc-stamp-frontend/src/routes/about/Chapters/index.ts
  packages/grc-stamp-frontend/src/routes/github-action/index.tsx
  packages/grc-stamp-frontend/src/routes/notarize/HowItWorks/HowItWorks.tsx
  packages/grc-stamp-frontend/src/routes/notarize/index.tsx
Due: run-build-grc-stamp-frontend

fix: address dangerous dependencies
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
  packages/grc-stamp/package-lock.json
Due: run-build-grc-stamp, run-build-grc-stamp-frontend

chore(release): 1.8.0 [skip ci]
  packages/grc-stamp-frontend/CHANGELOG.md
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  d97ede09cbeb6fa598c91d9ab995a97f573f8a0a
Due: none

chore(release): 1.4.1 [skip ci]
  packages/grc-stamp/CHANGELOG.md
  packages/grc-stamp/package-lock.json
  packages/grc-stamp/package.json
Due: run-build-grc-stamp

Notes added by 'git notes add'
  132bba652beb61adc4777bca8c6293ebd3bcdf92
Due: none

feat: release mcp to npm
  .circleci/config.yml
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
  packages/grc-stamp-mcp/package-lock.json
  packages/grc-stamp-mcp/package.json
  packages/grc-stamp/package-lock.json
Due: run-build-grc-stamp, run-build-grc-stamp-frontend

chore: fix dependencies issue
  packages/grc-stamp-mcp/package-lock.json
Due: none

chore(release): 1.9.0 [skip ci]
  packages/grc-stamp-frontend/CHANGELOG.md
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  057db81cbcef02a51815bb6212631431ee89b939
Due: none

chore(release): 1.5.0 [skip ci]
  packages/grc-stamp/CHANGELOG.md
  packages/grc-stamp/package-lock.json
  packages/grc-stamp/package.json
Due: run-build-grc-stamp

Notes added by 'git notes add'
  77d3ad6d9c2d5daf5bd49997c035d1994ed06243
Due: none

chore(release): 1.0.0 [skip ci]
  packages/grc-stamp-mcp/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  b28f4d2d3d6d876aca02b75c30ccabb145fcf2a3
Due: none

fix: update texting
  packages/grc-stamp-frontend/next-env.d.ts
  packages/grc-stamp-frontend/src/routes/mcp/index.tsx
  packages/grc-stamp-mcp/LICENSE
  packages/grc-stamp-mcp/README.md
  packages/grc-stamp-mcp/package.json
  packages/grc-stamp-mcp/src/server.ts
  packages/grc-stamp-mcp/src/tools/getWalletStatus.ts
  packages/grc-stamp-mcp/src/tools/stampDocument.ts
Due: run-build-grc-stamp-frontend
