Repository gridcoin-community/stamp.gridcoin.club: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-grc-stamp, run-build-grc-stamp-frontend

Path conditions:
  run-build-grc-stamp: any of: packages/grc-stamp/.*
  run-build-grc-stamp-frontend: any of: packages/grc-stamp-frontend/.*

chore: remove tmp file
  packages/workers/maintenance-page/tsconfig.tsbuildinfo
Due: none

chore: add tmp file to ignore
  packages/workers/maintenance-page/.gitignore
Due: none

chore(release): 1.6.0
  packages/grc-stamp-frontend/CHANGELOG.md
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  006a5ba7cebfdc0e677ea64492a8feef0064e745
Due: none

fix: technical update, nextjs to 13
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
  packages/grc-stamp-frontend/src/components/Footer/Footer.tsx
  packages/grc-stamp-frontend/src/components/Header/Header.tsx
  packages/grc-stamp-frontend/src/components/Info/Info.tsx
  packages/grc-stamp-frontend/src/components/Navigation/NavMenuDesktop.tsx
  packages/grc-stamp-frontend/src/pages/_app.tsx
  packages/grc-stamp-frontend/src/routes/about/index.tsx
  packages/grc-stamp-frontend/src/routes/notarize/Instructions/Instructions.tsx
  packages/grc-stamp-frontend/src/routes/notarize/Result/Result.tsx
  packages/grc-stamp-frontend/src/routes/proof/index.tsx
Due: run-build-grc-stamp-frontend

fix: technical, upgrade dependencies
  packages/grc-stamp/package-lock.json
  packages/grc-stamp/package.json
Due: run-build-grc-stamp

chore(release): 1.1.2
  packages/grc-stamp/CHANGELOG.md
  packages/grc-stamp/package-lock.json
  packages/grc-stamp/package.json
Due: run-build-grc-stamp

Notes added by 'git notes add'
  8ee86832d88fd1b9e38834a478f41912ac5d1dcd
Due: none

ci: remove docker version
  .circleci/config.yml
Due: none

ci: fix docker
  .circleci/config.yml
Due: none

fix: technical update dependencies
  packages/grc-stamp/package-lock.json
  packages/grc-stamp/package.json
Due: run-build-grc-stamp

chore(release): 1.1.3
  packages/grc-stamp/CHANGELOG.md
  packages/grc-stamp/package-lock.json
  packages/grc-stamp/package.json
Due: run-build-grc-stamp

Notes added by 'git notes add'
  ce2dfee58d947d701d0d9f4324f979beeda5c7b1
Due: none

fix: fix production dockerfile
  packages/grc-stamp/Dockerfile.prod
Due: run-build-grc-stamp

chore(release): 1.1.4
  packages/grc-stamp/CHANGELOG.md
  packages/grc-stamp/package-lock.json
  packages/grc-stamp/package.json
Due: run-build-grc-stamp

Notes added by 'git notes add'
  35a37dac8fe1a567ac268da3757e77017b6ac47e
Due: none

fix: technical update dependencies
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

chore(release): 1.6.1
  packages/grc-stamp-frontend/CHANGELOG.md
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  282848783cbd43a1861254e3377bbca591ac4217
Due: none

ci: possible issues with circleci configuration
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

fix: fix the package name
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

chore(release): 1.0.0
  packages/grc-stamp-frontend/CHANGELOG.md
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  1d6cd0cdcd56c523520f198574bacfa7a151ab2b
Due: none

fix: fix prisma on start
  packages/grc-stamp/Dockerfile.prod
Due: run-build-grc-stamp

chore(release): 1.1.5
  packages/grc-stamp/CHANGELOG.md
  packages/grc-stamp/package-lock.json
  packages/grc-stamp/package.json
Due: run-build-grc-stamp

Notes added by 'git notes add'
  05705fd3ffe487e3c7cbe0530bf9de1b860b244a
Due: none

fix: fix prisma generation on start
  packages/grc-stamp/Dockerfile.prod
Due: run-build-grc-stamp

chore(release): 1.1.6
  packages/grc-stamp/CHANGELOG.md
  packages/grc-stamp/package-lock.json
  packages/grc-stamp/package.json
Due: run-build-grc-stamp

Notes added by 'git notes add'
  02ef2687bc4c9798422753a6a6475c5fb58a6a62
Due: none

fix: node debian for grc-stamp
  packages/grc-stamp/Dockerfile.prod
Due: run-build-grc-stamp

chore(release): 1.1.7
  packages/grc-stamp/CHANGELOG.md
  packages/grc-stamp/package-lock.json
  packages/grc-stamp/package.json
Due: run-build-grc-stamp

Notes added by 'git notes add'
  0123e07d0a04e631584206075c30a72b071a1ef5
Due: none

fix: change user creation step for debian based images
  packages/grc-stamp/Dockerfile.prod
Due: run-build-grc-stamp

chore(release): 1.1.8
  packages/grc-stamp/CHANGELOG.md
  packages/grc-stamp/package-lock.json
  packages/grc-stamp/package.json
Due: run-build-grc-stamp

Notes added by 'git notes add'
  ce3c40afb435ba45b91fb27d698fcf72852da14b
Due: none

fix: remove blinky mode, fix header
  packages/grc-stamp-frontend/src/components/Header/Header.tsx
  packages/grc-stamp-frontend/src/pages/_app.tsx
Due: run-build-grc-stamp-frontend

fix: fix header
  packages/grc-stamp-frontend/src/components/Header/Header.tsx
Due: run-build-grc-stamp-frontend

chore(release): 1.0.1
  packages/grc-stamp-frontend/CHANGELOG.md
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  7c21e2b31a286706ed6179e9897ed3453cf364a3
Due: none

fix: technical update to next 14 and mui 7
  packages/grc-stamp-frontend/next-env.d.ts
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
  packages/grc-stamp-frontend/src/components/Footer/Footer.tsx
  packages/grc-stamp-frontend/src/components/Info/Info.tsx
  packages/grc-stamp-frontend/src/components/Navigation/NavMenuDesktop.tsx
  packages/grc-stamp-frontend/src/components/Navigation/NavMenuMobile.tsx
  packages/grc-stamp-frontend/src/components/NextMuiLink.tsx
  packages/grc-stamp-frontend/src/components/Stamps/StampsList.tsx
  packages/grc-stamp-frontend/src/routes/about/Chapters/About.tsx
  packages/grc-stamp-frontend/src/routes/about/Chapters/Protocol.tsx
  packages/grc-stamp-frontend/src/routes/about/Contents.tsx
  packages/grc-stamp-frontend/src/routes/about/index.tsx
  packages/grc-stamp-frontend/src/routes/notarize/Instructions/Instructions.tsx
  packages/grc-stamp-frontend/src/routes/notarize/Result/Progress.tsx
  packages/grc-stamp-frontend/src/routes/notarize/Result/Result.tsx
  packages/grc-stamp-frontend/src/routes/notarize/Upload/Upload.tsx
Due: run-build-grc-stamp-frontend
