Repository gridcoin-community/stamp.gridcoin.club: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-grc-stamp, run-build-grc-stamp-frontend

fix: look up the stamp wallet address by label
  packages/grc-stamp/package-lock.json
  packages/grc-stamp/package.json
  packages/grc-stamp/src/repositories/WalletRepository.spec.ts
  packages/grc-stamp/src/repositories/WalletRepository.ts
  packages/grc-stamp/tests/integration/wallet.test.ts
Due: run-build-grc-stamp

fix: bump proxy-addr, source-map-js and the MCP SDK for audit advisories
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-mcp/package-lock.json
  packages/grc-stamp/package-lock.json
Due: run-build-grc-stamp, run-build-grc-stamp-frontend

chore(release): 1.10.6 [skip ci]
  packages/grc-stamp-frontend/CHANGELOG.md
  packages/grc-stamp-frontend/package-lock.json
  packages/grc-stamp-frontend/package.json
Due: run-build-grc-stamp-frontend

Notes added by 'git notes add'
  7c847277cc43821095a3c30bb45e6a02206fafa6
Due: none

chore(release): 1.5.2 [skip ci]
  packages/grc-stamp/CHANGELOG.md
  packages/grc-stamp/package-lock.json
  packages/grc-stamp/package.json
Due: run-build-grc-stamp

Notes added by 'git notes add'
  08be34e6e022f67c3ffea63d3e5bbf6d37b58c08
Due: none

chore(release): 1.0.5 [skip ci]
  packages/grc-stamp-mcp/CHANGELOG.md
  packages/grc-stamp-mcp/package-lock.json
  packages/grc-stamp-mcp/package.json
Due: none

Notes added by 'git notes add'
  99884b18d385ba2a336054ebca1855ca8fce02bb
Due: none

Path conditions:
  run-build-grc-stamp: any of: packages/grc-stamp/.*
  run-build-grc-stamp-frontend: any of: packages/grc-stamp-frontend/.*
